:root {
  --trip-review-bg: #E3E3E3;
}

.trip-review {
  font-family: 'Helvetica', sans-serif;
  height: 100%;
  overflow: auto;
  background-color: var(--trip-review-bg);
}

.trip-review-header, .trip-review-main {
  margin-left: 60px;
}

.trip-review-header {
  margin-top: 25px;
}

.trip-review-header p {
  margin: 5px 0 0 0;
}

.trip-review-header-guarantee {
  color: green;
}

.trip-review-header-title {
  font-size: 28px;
}

.trip-review-main {
  margin-top: 80px;
}

.trip-review-main-top {
  display: flex;
}

.trip-review-main-top-aside {
  margin-left: 20px;
}

.trip-review-top-dates {
  margin: 0;
  font-size: 20px;
}

.trip-review-top-details {
  margin: 0;
  margin-top: 10px;
  color: gray;
}
